@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

$time: 0.1s;
$time2: 0.8s;
//Global Styling
@media #{$small-only} { 
  #logo{
    font-size: 20vw;
  }
  .navigation_bar ul li a{
    font-size: 0.6em;
  } 
  .sub_header{
    font-size: 10vw;
  }
  .popular_destinations{
    width: 60vw;  
    height: 40vw;
  }
}
@media #{$medium-only} { 
  #logo{
    font-size: 15vw;
  }
  .navigation_bar ul li a{
    font-size: .8em;
  }
  .sub_header{
    font-size: 7vw;
  }
  .popular_destinations{
    width: 30vw;  
    height: 20vw;
  }
}
@media #{$large-up} { 
  #logo{
    font-size: 10vw;
  }
  .navigation_bar ul li a{
    font-size: 1em;
  }
  .sub_header{
    font-size: 4vw;
  }
  .popular_destinations{
    width: 22vw;  
    height: 15vw;
  }
}
#logo{
  text-align: center;
  padding: 0 !important;
  margin: 15vh 0 0 0 !important;
  color:#FFFFFF;
}
.block{
  min-height: 100%;
}
.navigation_bar{
  background-color: #FFFFFF;
  position: fixed;
  width: 100%;
  text-align: center;
  z-index: 99;
}
.navigation_bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navigation_bar ul li{
  display: inline-block;
  padding:0.5vw 1vw;
  margin: 1vw 0;
  border-radius: 5px;
}
.navigation_bar ul li a{
  font-family: "Raleway";
}
.navigation_bar ul li:hover{
  background-color: $primary-color;
  cursor: pointer;
  a{
    color:#FFFFFF;
    -webkit-transition: all $time ease-in-out;
    -moz-transition: all $time ease-in-out;
    -o-transition: all $time ease-in-out;
    transition: all $time ease-in-out;
  }
  -webkit-transition: all $time ease-in-out;
  -moz-transition: all $time ease-in-out;
  -o-transition: all $time ease-in-out;
  transition: all $time ease-in-out;
}
.navigation_bar ul li.selected{
  background-color: $primary-color;
  a{
    color:#FFFFFF;
    -webkit-transition: all $time ease-in-out;
  -moz-transition: all $time ease-in-out;
  -o-transition: all $time ease-in-out;
  transition: all $time ease-in-out;
  }
  -webkit-transition: all $time ease-in-out;
  -moz-transition: all $time ease-in-out;
  -o-transition: all $time ease-in-out;
  transition: all $time ease-in-out;
}


.red{
  background-color: red;
}
.blue{
  background-color: blue !important;
}


//Block1 Styling
#next_image{
  width:20%;
  display: block;
  margin: auto;
  text-align: center;
}
#block1{
  @include background(image-url("spinalonga.jpg"));
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

//Block2 Styling
#block2{
  padding: 5vh 0;
  background-color: $vapor;
}

.popular_destinations{
  display: block;
  margin: 1vh auto;
  text-align: center;
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  border:solid;
  border-color:$oil;
  border-width:1px;
  cursor: pointer;
  span.popular_destinations_text{
    padding:1vh;
    opacity:0;
    width:inherit;
    height:inherit;
    display: table-cell;
    vertical-align: middle;
    color:$ghost;
    text-align: center;
    font-weight: 100;
    -webkit-transition: all $time2 ease-in-out;
    -moz-transition: all $time2 ease-in-out;
    -o-transition: all $time2 ease-in-out;
    transition: all $time2 ease-in-out;
  }
}
div.popular_destinations:hover{
  span.popular_destinations_text{
    opacity:1;
    background:rgba(41, 48, 55, 0.7) !important;
    -webkit-transition: all $time2 ease-in-out;
    -moz-transition: all $time2 ease-in-out;
    -o-transition: all $time2 ease-in-out;
    transition: all $time2 ease-in-out;
  }
}

#hawaii{
  @include background(image-url("hawaii.jpg"));
}
#disney_world{
  @include background(image-url("disney_world.jpg"));
}
#eagles{
  @include background(image-url("eagles.jpg"));
}
#disney_cruise{
  @include background(image-url("disney_cruise.jpg"));
}
#vegas{
  @include background(image-url("vegas.jpg"));
}
#mexico{
  @include background(image-url("mexico.jpg"));
}

//Block 3 Styling
#block3{
  @include background(image-url("wedding.jpg"));
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
#honeymoon_registry_header{
  margin: 5vh 0;
}

//Block 4 Styling
#block4{
  padding: 5vh 0 0 0;
  background-color: $secondary-color;
}
p.contact_text{
  text-align: justify;
}
#contact_information_container{
  display: table;
  height: inherit;
}
#contact_information_text{
  margin:10% auto 0 auto;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  h3{
    font-family: "Raleway";
    a{
      color:black;
      text-decoration: none !important;
    }
  }
}
footer{
  color:$oil;
  a{
    color:$oil;
    text-decoration: none !important;
  }
}