@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

//Global Styling

@media #{$small-only} { 
  .nav_link{
    /*font-size: 12px;*/
  }
  #side-nav_container{
    width:200% !important;
  }
}

@media #{$medium-only} { 

}

@media #{$large-up} { 

}
.side-nav{
  margin:0;
  padding:0;
}
.nav_link{
  font-size: 1.5vw;
  font-family: "Raleway";
  color:#000000 !important;
}
#spacing{
  height:10vh;
}
#logo{
  font-size: 15vw;
  text-align: right;
  padding: 0 !important;
  margin: 0 !important;
  color:#FFFFFF;
}
#block1{
  @include background(image-url("spinalonga.jpg"));
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}
#block2{
  margin: 5vh 0;
}
.transparency_gradient{
  background: rgba(255, 255, 255, 0.4) !important;
  padding:0 !important;
}
.red{
  background-color: red;
}
.blue{
  background-color: blue;
}

